/*HOME PAGE*/
#home {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
}

.row {
	margin: 0;
	text-align: center;
}

#butt {
	text-transform: none;
	opacity: 0.9;
	border-radius: 7px;
	bottom: 0;
	margin-left: 43%;
	width: 200px;
	margin-top: -36px;
}

#gold {
	background-color: rgba(135,155,183, 0.3);
	height: 170px;
	border-radius: 25px;
	border: 2px solid black;
}

#gold img {
	margin-top: 45px;
}

#gold a{
	display: none;
	font-size: 30px;
	color: black;
	margin-top: 60px;
}

#blues {
	background-color: rgba(82,96,117, 0.5);
	height: 170px;
	border-radius: 25px;
	border: 2px solid black;
}

#blues img {
	height: 50px;
	width: 50px;
	margin-top: 50px;
}

#blues a {
	display: none;
	font-size: 30px;
	color: black;
	margin-top: 60px;
}

#res {
	background-color: rgba(48,55,65, 0.6);
	height: 170px;
	border-radius: 25px;
	border: 2px solid black;
}

#res a{
	display: none;
	font-size: 30px;
	color: black;
	margin-top: 60px;
}

#res i {
	margin-top: 45px;
}

.container {
	color: white;
	margin-top: 15%;
	margin-left: 30px;
	font-family: 'Inconsolata', monospace;
}

#pic {
	background-image: url('imgs/lake.JPG');
	background-size: cover;
	width: 100%;
	height: 600px;
}

#home p {
	font-size: 27px;
}

.title {
	color: white;
	margin-top: 20%;
}

nav {
	height: 80px;
	line-height: 80px;
	background-color: white;
	font-family: "Roboto", sans-serif;
}

nav ul a {
	color: black;
}

nav .brand-logo {
	color: black;
	font-size: 20px;	
}

i.material-icons {
	color: black;
}

@media screen and (max-width: 480px){
	#butt{
		margin-left: 30%;
	}
}

/*PROJECTS*/
.image {
	height: 350px;
	width: 100%;
	margin-left: 50px;
	margin-top: 20px;
}

#project-type {
	margin-top: -400px;
	color: white;
	font-family: 'Inconsolata', monospace;
}

#projects h3 {
	margin-top: 100px;
}

#projects p {
	font-size: 20px;
}

#proj {
	width: 100%;
	height: 700px;
	margin-bottom: 100px;
}

#proj img {
	width: 100%;
	height: 700px;
}

.collapsible-header{
	display: block;
	text-align: center;
}

.content {
	margin-top: -285px;
}

.screen {
	height: 300px;
	width: 90%;
	margin-top: -50px;
}

@media screen and (min-width: 1200px){
	.screen {
		margin-right: 20px;
	}
} 

@media screen and (max-width: 800px) and (min-width: 600px){
	.screen {
		margin-left: -55px;
	}
} 

@media screen and (max-width: 1000px) and (min-width: 800px){
	.screen {
		margin-left: 20px;
	}
} 

@media screen and (max-width: 380px){
	.screen {
		height: 220px;
		margin-top: 25px;
		margin-left: 2px;
	}
	.image {
		height: 270px;
	}
} 

@media screen and (max-width: 450px){
	#proj {
		margin-bottom: -200px;
	}	
}

@media screen and (max-width: 800px){
	#projects .row{
		width: 100%;
		height: 900px;
		margin-left: 0;
	}
	.image{
		margin-left: 0;
	}

	#proj img {
		height: 450px;
	}
}

/*ABOUT*/
#blurb {
	text-align: center;
}

#me {
	height: 230px;
	width: 300px;
	border-radius: 100px;
	border: 5px solid black;
	margin-left: 0;
}

#bout {
	width: 100%;
	height: 700px;
	margin-bottom: 100px;
}

#about-type {
	margin-top: -350px;
	color: white;
	font-family: 'Inconsolata', monospace;
}	

#bout img {
	width: 100%;
	height: 700px;
}

@media screen and (max-width: 800px){
	#bout img {
		height: 420px;
	}
}

@media screen and (max-width: 450px){
	#bout {
		margin-bottom: -150px;
	}
}

.down {

}


